extends layout

block content
    div.inner.cover
        h1.cover-heading Who Is Bobby Hensley?
        p.lead developer, db/sysadmin, analyst
        p I think we're all many things.  Myself- I am a developer, a database and systems administrator and an IT analyst.  I like to write code, integrate new and exciting ways of storing data and getting my hands dirty with servers, applications and security appliances.  Ultimately my passion is using those skills to better efficiency and workflow within an organization.
        p Born and raised in the northeastern United States, I am proud of my New England roots.  Drinking everything with pumpkin in the fall and winter (beer, coffee, you name it- we'll put pumpkin in it).  Dealing with negative temperatures in the winter... gracefully.  Most importantly- raising my son (with my gorgeous wife) in the most beautiful region of the United States.
        p And no, the pictures seen on this site are not of New England.  They are photos I took of Peru- where my wife is originally from and where we lived for a short while!
        p
            | I would encourage you to 
            a(href='/contact') contact me
            |  should you have any questions or opportunities!
        p.lead
            a.btn.btl-lg.btn-default(href='/contact') Do it, contact me!