extends layout

block content
    div.inner.cover
        h1.cover-heading Who Is Bobby Hensley?
        p.lead developer, db/sysadmin, analyst
        p I think we're all many things.  Myself- I am a developer, a database and systems administrator and an IT analyst.  I like to write code, integrate new and exciting ways of storing data and getting my hands dirty with servers, applications and security appliances.  Ultimately my passion is using those skills to better efficiency and workflow within an organization.
        p Born and raised in the northeastern United States, I now find myself living in Peru with my beautiful wife and amazing son.  My goal is to bring my skillset to the table here in Peru, and help shape new processes and opportunities.
        p
            | I would encourage you to 
            a(href='/contact') contact me
            |  should you have any questions or opportunities!
        p.lead
            a.btn.btl-lg.btn-default(href='/contact') Do it, contact me!