extends layout

block content
    div.inner.cover
        h1.cover-heading Hello There!
        p.lead I am your (not so) typical American now living in Peru.  I happen to write code and have a passion for using IT to better work flows and experiences.
        p.lead
            a.btn.btl-lg.btn-default(href='/about') Go on... Check me out! ;)