extends layout

block content
    div.inner.cover
        h1.cover-heading Hello There!
        p.lead I write code.  Mostly Ruby and NodeJS, but I am a competent full-stack developer.  I'm passionate about technology in the data center.  I'm oddly obsessed with database theory and design.  I am a connoisseur of local beers in the New England area.  Most importantly- I am a father and a husband.
        p.lead
            a.btn.btl-lg.btn-default(href='/about') Go on... Check me out! ;)