extends layout

block content
    div.inner.cover
        h1.cover-heading Welcome To My World!
        p.lead I am your (not so) typical American now living in Peru.  I happen to write code and have a passion for using to better experiences and work flows.
        p.lead
            a.btn.btl-lg.btn-default(href='#') Go on... Check me out! ;)