extends layout

block content
    div.site-wrapper
        div.site-wrapper-inner
            div.cover-container
                div.masthead.clearfix
                    div.inner
                        h3.masthead-brand Bobby Hensley dot Com
                        ul.nav.masthead-nav
                            li.active: a(href='#') Home
                            li: a(href='#') Who Am I?
                            li: a(href='#') Contact Me!

                div.inner.cover
                    h1.cover-heading Welcome To My World!
                    p.lead I am your (not so) typical American now living in Peru.  I happen to write code and have a passion for using to better experiences and work flows.
                    p.lead
                    a.btn.btl-lg.btn-default(href='#') Go on... Check me out! ;)
            
                div.mastfoot
                    div.inner
                        p Here's some more text...