doctype html
html
  head
    title #{title} | Bobby Hensley dot Com
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script.
        $(document).ready(function () {
            $('#csub').on('click', function (e) {
                var socket = io.connect('http://localhost');
                e.preventDefault();

                socket.emit('form-data', {
                    subject: $('#subject').val(),
                    email: $('#email').val(),
                    contents: $('#body').val()
                });

                socket.on('form-done', function (d) {
                    console.log(d.done);
                });
            });
        });
  body
    div.site-wrapper
        div.site-wrapper-inner
            div.cover-container
                div.masthead.clearfix
                    div.inner
                        h3.masthead-brand Bobby Hensley dot Com
                        ul.nav.masthead-nav
                            li(class= page == 'home' ? 'active' : ''): a(href='/') Home
                            li(class= page == 'about' ? 'active' : ''): a(href='/about') Who Am I?
                            li(class= page == 'contact' ? 'active' : ''): a(href='/contact') Contact Me!
                    
                block content

                div.mastfoot
                    div.inner
                        p Copyright &copy; Bob Hensley