doctype html
html
  head
    title #{title} | Bobby Hensley dot Com
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='/javascripts/jquery.blockUI.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script.
        var bg = 1 + Math.floor(Math.random() * 15);

        $(document).ready(function () {

            // If we're using a normal browser let's apply a background image.
            if ($(window).width() >= 768) {
                $('html, body')
                    .css('background', 'transparent url(/images/' + bg + '.jpg) center center no-repeat')
                    .css('background-size', 'cover')
                    .css('background-attachment', 'fixed');
            }

            $('#csub').on('click', function (e) {
                var socket = io.connect(window.location.host);
                e.preventDefault();

                socket.emit('form-data', {
                    subject: $('#subject').val(),
                    email: $('#email').val(),
                    contents: $('#body').val()
                });

                $.blockUI({
                    message: 'Handling your message now...' ,
                    css: {
                        padding: 10,
                        border: 0,
                        backgroundColor: "#000",
                        '-webkit-border-radius': '8px',
                        '-moz-border-radius': '8px',
                        opacity: .5,
                        color: "#fff" 
                    }
                });

                socket.on('form-done', function (d) {
                    if(d.success) {
                        $('.blockUI.blockMsg.blockPage').text('All set!');
                        $('#csub').attr('disabled', 'disabled');
                        setTimeout($.unblockUI, 2000);
                    } else {
                        $('.blockUI.blockMsg.blockPage').text('Ran into an issue... try again?!');
                        setTimeout($.unblockUI, 2000);
                    }
                });
            });
        });
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-7374432-4', 'bobbyhensley.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

  body
    div.site-wrapper
        div.site-wrapper-inner
            div.cover-container
                div.masthead.clearfix
                    div.inner
                        h3.masthead-brand: a(href='/') Bobby Hensley dot Com
                        ul.nav.masthead-nav
                            li(class= page == 'about' ? 'active' : ''): a(href='/about') Who Am I?
                            li(class= page == 'contact' ? 'active' : ''): a(href='/contact') Contact Me!
                            li: a(href='http://blog.bobbyhensley.com', rel='me') My Blog!
                    
                block content

                div.mastfoot
                    div.inner
                        p
                            a(href='http://www.daniweb.com/profiles/841176/Bob-Hensley', rel='me') DaniWeb
                            |  | 
                            a(href='https://github.com/bhensley', rel='me') GitHub
                            |  | 
                            a(href='https://sourceforge.net/u/bhensley', rel='me') SourceForge
                        
                        p
                            a(href='http://www.linkedin.com/in/bobbyhensley', rel='me') LinkedIn
                            |  | 
                            a(href='https://twitter.com/bobhensley', rel='me') Twitter